body {
  background-color: #ffffff;
}
.logo {
  width: 351px;
  height: 113px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.table {
  border: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.search {
  background-color: #eeeeee;
  text-align: center;
  column-span: all;
}
.alt_sol {
  background-color: #7ee5da;
  width: 37%;
  text-align: center;
}
.alt_orta {
  background-color: #70ccc2;
  text-align: center;
}
.alt_sag {
  background-color: #62b3aa;
  text-align: center;
}
.bottom {
  text-align: center;
}
